@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&display=swap');

body {
  background-color: whitesmoke;
}

.grid {
  height: 100vh;

  display: grid;
  grid-template-columns: 7vw auto;
  grid-column-gap: 5vw;

  align-items: center;
}